@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Roboto+Condensed:ital,wght@0,300;0,700;1,300;1,400;1,700&display=swap');
/* an asterisk is a wildcard, it will select all elements within that portion of the Document Object Model (DOM) */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    height: 80vh;
    width: 100%;
    background-image: url(https://cdn.pixabay.com/photo/2016/11/29/13/46/book-1869969_1280.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*. for class*/
.wrapper { 
    background: rgb(255, 255, 255, .7);
    max-width: 450px;
    width: 100%;
    margin: 140px auto;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
}

.wrapper header {
    font-family: Italiana;
    font-size: 30px;
    font-weight: 600;
}

.wrapper .inputField {
    display: flex;
    height: 45px;
    width: 100%;
    margin: 20px 0;
}

.inputField input {
    width: 85%;
    height: 100%;
    outline: none;
    font-size: 17px;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding-left: 15px;
    transition: all 0.3s ease;
}

.inputField input:focus{
    border-color: #4e2f16;
}

.inputField button {
    width: 50px;
    height: 100%;
    border: none;
    outline: none;
    background: #5a382b;
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    border-radius: 3px;
    margin-left: 5px;
    opacity: .6;
    pointer-events: none;
    transition: all 0.3s ease;
}

.inputField button.active {
    opacity: 1;
    pointer-events: auto;
}

.wrapper .todoList {
    max-height: 250px;
    overflow: auto;
}

.todoList li {
    list-style: none;
    height: 45px;
    line-height: 45px;
    position: relative;
    background: rgba(192, 153, 129, 0.7);
    border-radius: 3px;
    margin-bottom: 8px;
    padding: 0px 15px; /*maybe 10px 15px*/
    cursor: default;
    overflow: hidden;
    word-wrap: break-word;
}

.todoList li span {
    position: absolute;
    right: -45px;
    color: #fff;
    background: #5a382b;
    width: 45px;
    text-align: center;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
    padding: 10px 15px;
    transition: all 0.3s ease;
}

.todoList li:hover span{
    right: 0px;
}

.wrapper .footer {
    display: flex;
    width: 100%;
    align-items: center;
    margin-top: 25px; 
    justify-content: space-between;
}

.footer button {
    border: none;
    outline: none;
    background: #5a382b;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 3px;
    padding: 6px 10px;
    opacity: 0.6;
    pointer-events: none;
    transition: all 0.3s ease;
}

.footer button.active {
    opacity: 1;
    pointer-events: auto;
}

.inputField button:hover,
.footer button:hover{
  background: #856047;
}