@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Roboto+Condensed:ital,wght@0,300;0,700;1,300;1,400;1,700&display=swap');
/* an asterisk is a wildcard, it will select all elements within that portion of the Document Object Model (DOM) */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    height: 80vh;
    width: 100%;
    background-image: url(https://cdn.pixabay.com/photo/2016/11/29/13/46/book-1869969_1280.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*. for class*/
.wrapper { 
    background: rgb(255, 255, 255, .7);
    max-width: 450px;
    width: 100%;
    margin: 140px auto;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
}

.wrapper header {
    font-family: Italiana;
    font-size: 30px;
    font-weight: 600;
}

.wrapper .loginForm {
    display: grid;
    height: 180px;
    width: 100%;
    margin: 50px 0 30px 0;
    padding: 30px 15px;
    align-self: flex-start;
    justify-items: center;
    align-items: center;
}

.wrapper .loginFormEach {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: none;
    height: 45px;
    width: 85%;
    font-size: 17px;
    padding-left: 15px;
    transition: all 0.3s ease;
}


#loginErrorMsgHolder {
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
}
  
#loginErrorMsg {
    width: 85%;
    text-align: center;
    margin-top: 30px;
    padding: 8px;
    font-size: 12px;
    font-weight: bold;
    color: #4d0000;
    /* border: 1px solid #8a0000; */
    border-radius: 3px;
    background-color: #c96f63;
    opacity: 0;
}

#loginErrorMsgSec {
    display: block;
}
  


::-webkit-scrollbar {
    width: 12px;

}

::-webkit-scrollbar-thumb {
   /* border: 0 10px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    background: 
    border-radius: 19px;
    */
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 9999px;
    background-color: rgb(90,56,43, .6);
}

.loginForm .loginBtnField {
    width: 85%;
    margin: 20px;
}


#loginFormSubmit {
    float: right;
    border: none;
    outline: none;
    background: #5a382b;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 3px;
    width: 100%;
    padding: 9px 9px 9px 9px;
    /* opacity: 1;
    pointer-events: none; */
    transition: all 0.3s ease;
}



/* #loginFormSubmit.active {
    opacity: 1;
    pointer-events: auto;
} */


#loginFormSubmit:hover {
  background: #856047;
}